---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/Footer.astro';
import ChatBot from '../ChatBot.astro';
import { version } from '../../../package.json';
const year = new Date().getFullYear();
---

<Default {...Astro.props}/>
<ChatBot />

<hr />

<p class="footer-text">&copy; {year} Angor. All rights reserved. </p>

<script define:vars={{ version }}>
  console.log(`%c Angor Docs v${version} `, "color:#0cac67;font-size:2rem");
</script>

<style>
  .footer-text {
    text-align: center;
    color: var(--sl-color-gray-2);
    font-size: var(--sl-text-sm);
    margin-top: 1rem;
    line-height: 1.5;
  }
  
  hr {
    border: 0;
    border-bottom: 1px solid var(--sl-color-hairline);
    margin-bottom: 1rem;
  }
</style>
