---
---

<script type="module">
    import Chatbot from 'https://cdn.jsdelivr.net/npm/flowise-embed/dist/web.js';
    Chatbot.init({
         chatflowid: "036b3d07-c5dd-41ec-ba8e-93d9680657dc",
         apiHost: "https://ai.angor.io",
      observersConfig: {
          observeUserInput: (userInput) => {
          console.log({ userInput });
        },
         observeMessages: (messages) => {
          console.log({ messages });
        },
         observeLoading: (loading) => {
          console.log({ loading });
        },
      },
      theme: {
        button: {
          backgroundColor: '#0e3c48',
          right: 20,
          bottom: 20,
          size: 48,  
          dragAndDrop: true,
          iconColor: 'white',
          customIconSrc: 'https://angor.io/angor-icon-light.svg',
          autoWindowOpen: {
            autoOpen: true, 
            openDelay: 2, 
            autoOpenOnMobile: false,  
          },
        },
        tooltip: {
          showTooltip: true,
          tooltipMessage: 'Greetings! How can I assist you today?',
          tooltipBackgroundColor: '#086c81',
          tooltipTextColor: 'white',
          tooltipFontSize: 16,
        },
        disclaimer: {
          title: 'Disclaimer',
          message: 'By using this chatbot, you agree to the <a target="_blank" href="https://angor.io./terms">Terms & Conditions</a>',
          textColor: 'black',
          buttonColor: '#3b82f6',
          buttonText: 'Start Chatting',
          buttonTextColor: 'white',
          blurredBackgroundColor: 'rgba(0, 0, 0, 0.4)',  
          backgroundColor: 'white',
        },
        customCSS: ``, 
        chatWindow: {
          showTitle: true,
          showAgentMessages: true,
          title: 'Angor Bot',
          titleAvatarSrc: 'https://angor.io/angor-icon-light.svg',
          welcomeMessage: 'Welcome! How can I assist you today?',
          errorMessage: 'An error has occurred. Please try again later.',
          backgroundColor: '#ffffff',
          backgroundImage: 'enter image path or link',  
          height: 500,
          width: 360,
          fontSize: 16,
          starterPrompts: ['What is Angor?', 'How am I protected as investor?' ,"How can I contact the founder?" ], 
          starterPromptFontSize: 15,
          clearChatOnReload: false,  
          sourceDocsTitle: 'Sources:',
          renderHTML: true,
          botMessage: {
            backgroundColor: '#f7f8ff',
            textColor: '#303235',
            showAvatar: true,
            avatarSrc: 'https://angor.io/angor-icon-dark.svg',
          },
          userMessage: {
            backgroundColor: '#0e3c48',
            textColor: '#ffffff',
            showAvatar: true,
            avatarSrc: 'https://angor.io/avatar-placeholder.png',
          },
          textInput: {
            placeholder: 'Type your question here',
            backgroundColor: '#ffffff',
            textColor: '#303235',
            sendButtonColor: '#0e3c48',
            maxChars: 50,
            maxCharsWarningMessage: 'Character limit exceeded. Please enter fewer than 50 characters.',
            autoFocus: true,  
            sendMessageSound: true,
             receiveMessageSound: true,
           },
          feedback: {
            color: '#303235',
          },
          dateTimeToggle: {
            date: true,
            time: true,
          },
          footer: {
            textColor: '#303235',
            text: 'Powered by',
            company: 'Angor',
            companyLink: 'https://Angor.io',
          },
        },
      },
    });
  </script>